body {
    padding-top: 5rem;
}
/*.starter-template {*/
/*    padding: 3rem 1.5rem;*/
/*    text-align: center;*/
/*}*/
#nav{
    width: available;
    height: 500px;
    background-image: url("../images/bluechip2.png");
    background-size: cover;
}
#bluChipImg {
    width: 100%;
    height: auto;
    text-align: center;
}
#blueChip-info {
    /*padding: 3rem 1.5rem;*/
    width: 100%;
    text-align: center;
}