<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:replace="fragments/common :: head('BLUE CHIP?')">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="starter-template.css" rel="stylesheet">

    <title>BLUE CHIP?</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('info')">

</nav>

<div id="bluChipImg">
    <img th:src="@{/images/bluechipInfo.jpg}" alt="Info"/>
</div>
<div id="blueChip-info">
    <h1>BLUE CHIP?</h1>
    <p><em>우량주(優良株, blue chip)란 주식 시장에서 실적과 현금 흐름이 좋고 경영이 안정적인 회사의 주식을 의미한다.<br>
        비슷한 뜻을 가진 영어의 블루칩(blue chip) 역시 한국어에 잘 알려져 있는 어휘이다. 우량주 또는 블루칩으로 불리기 위해서는 건전한 재무구조와 안정성이 가장 중요한 요소이다.<br>
        블루 칩은 포커에서 돈 대신 쓰이는 3종류의 칩 가운데 가장 높은 것이 블루 칩인데서 유래되었다.</em></p>
</div>

</body>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

<footer th:replace="fragments/common :: footer('footer')"></footer>

</html>